@{
    ViewData["Title"] = "Account";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Account">
    <div>
        <table>
            <tr>
                <td>
                    Имя
                </td>
                <td>
                    <input type="text" name="firstName" value="@Program.currentUser?.FirstName">
                </td>
            </tr>
            <td>
                Фамилия
            </td>
            <td>
                <input type="text" name="lastName" value="@Program.currentUser?.LastName">
            </td>
            </tr>
            <tr>
                <td>
                    Телефон
                </td>
                <td>
                    <input type="tel" name="tel" required value="@Program.currentUser?.Tel">
                    @{
                        if (ViewBag.IsTel)
                        {
                            <span class="login-error-line" style="padding: 10px">Пользователь с таким номером телефона уже существует!</span>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Почта
                </td>
                <td>
                    <input type="email" name="email" required value="@Program.currentUser?.Email">
                    @{
                        if (ViewBag.IsEmail)
                        {
                            <span class="login-error-line" style="padding: 10px">Пользователь с такой почтой уже существует!</span>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Пароль
                </td>
                <td>
                    <input type="password" name="password" placeholder="password">
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Submit">
    </div>
</form>