@model IEnumerable<Lesson1.Models.User>

@{
    ViewData["Title"] = "Index";
}
@if (Program.currentUser.HasPermission(PermissionEntity.User, PermissionRight.View))
{
    <h1>Index</h1>

    @if (Program.currentUser.HasPermission(PermissionEntity.User, PermissionRight.Create))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }   
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        ***
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @if (Program.currentUser.HasPermission(PermissionEntity.User, PermissionRight.Update))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        }

                        | <a asp-action="Details" asp-route-id="@item.ID">Details</a> |

                        @if (Program.currentUser.HasPermission(PermissionEntity.User, PermissionRight.Delete))
                        {
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        }                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>У вас нет доступа к этой странице.</h1>
}

