@model IEnumerable<Lesson1.Models.Product>

@* RAZOR *@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if(Program.currentUser.UserPermissions.FirstOrDefault(permition => permition.Right == PermissionRight.Create && permition.Entity == PermissionEntity.Product) != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelflife)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shelflife)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            <td>
                    @if(Program.currentUser.HasPermission(PermissionEntity.Product, PermissionRight.Update))
                    {
                        <span><a asp-action="Edit" asp-route-id="@item.ID">Edit</a> | </span>
                    }            
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                    @if (Program.currentUser.HasPermission(PermissionEntity.Product, PermissionRight.Delete))
                    {

                        <span> | <a asp-action="Delete" asp-route-id="@item.ID">Delete</a></span>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
<p> Итого: @ViewBag.sum </p>
<pre> @ViewBag.randomTexts</pre>
